{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

    {% block body %}
        <div class="container ">
            <div class="row justify-content-md-center">
                <div class="col-md">
                    <h1 class="text-center">Location</h1>
                </div>
            </div>
        </div>

        <div class="d-flex text-center justify-content-center">
            <div class="row ">

                <div class=" col-12 mt-5 p-5">
                    <h2>Durée de Location et lieu de dépôt</h2>
                    {{ form_start(form) }}
                    {{ form_row(form.dateIn) }}
                    {{ form_row(form.dateOut) }}
                    {{ form_row(form.deposit) }}
                    <a href="{{ path('rent_adress') }}"> <i type="submit" class="btn button-style text-center">Poursuivre ma location > </i></a>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    {% endblock %}
