{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

    {% block body %}
        <div class="container ">
            <div class="d-flex justify-content-center my-5">
                <h1>Location</h1>
            </div>
            <div class="container d-flex justify-content-center my-5">
                <img class="img-fluid" src="{{ asset('build/Step2.png') }}" alt="img_Steps">
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class=" col-12 ">
                    {{ form_start(form) }}
                    {{ form_row(form.dateIn) }}
                    {{ form_row(form.dateOut) }}
                    {{ form_row(form.deposit) }}
                    <a href="">
                        <i type="submit" class="btn button-style text-center w-25">Confirmer </i>
                    </a>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="d-flex justify-content-end ">
                <a href="{{ path('rent_adress') }}">
                    <button class="btn button-style">Poursuivre</button>
                </a>
            </div>
        </div>
    {% endblock %}
