{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

    {% block body %}
        <h1>Location</h1>
        <div class="d-flex">
            <div class="row ">
                <div class="col-md">
                </div>
                <div class="col-md ">
                    {{ form_start(form) }}

                        {{ form_label(form.dateIn) }}
                        {{ form_widget(form.dateIn) }}
                        {{ form_errors(form.dateIn) }}

                        {{ form_label(form.dateOut) }}
                        {{ form_widget(form.dateOut) }}
                        {{ form_errors(form.dateOut) }}

                        {{ form_label(form.deposit) }}
                        {{ form_widget(form.deposit) }}
                        {{ form_errors(form.deposit) }}

                    {{ form_end (form)}}
                </div>
            </div>
        </div>
    {% endblock %}
