{% extends 'base.html.twig' %}

{% block title %}Catalogue produits!{% endblock %}

{% block body %}
    <div class="catalogue text-dark col-12 text-center mx-auto py-3 ">
        <a href="#">Les équipents</a>
        <a href="#"class="mx-5">Les packs</a>
        <a href="#">Les accessoires</a>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="{{ asset('build/filtre-catalogue.png') }}" alt="filtre catalogue">
            </div>
            <div class="d-flex col-8">
                {% for product in products %}
                <div class="card col-4 py-4 mx-2" style="width: 18rem;">
                    <div class="card-block">
                        {% for image in product.images %}
                            {% if loop.index0 == 0 %}
                                <img class="card-img-top" src="{{ image.url }}" alt="Card image cap">
                            {% endif %}
                        {% endfor %}
                        <div class="card-body">
                            <h5 class="card-title">{{ loop.index }} / {{ product.name }}</h5>
                            <p class="card-text">A partir de {{ product.price }} €</p>
                            <a href="{{ path("product_show", {id: product.id}) }}" class="btn btn-primary">Voir la fiche produit</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<<<<<<< HEAD
    <a href="{{ path("home") }}">Retour sur la page d'accueille</a>
=======
    <br>
    <br>
    <br>
    <br>
    <a href="{{ path("home") }}">Retour sur la page d'accueil</a>

>>>>>>> d17b0d5a40883b92eaa0cd49073bcd7a337a22ef
{% endblock %}
