<div class="row">
    <a href="{{ path('user_information') }}" class="col-12 col-lg-3">
        <div >
            <div class="card user-card">
                <div class="card-body d-flex">
                    <div>
                        <img src="{{ asset('build/profil_info.png') }}" alt="logo informations générales" class="logo">
                    </div>
                    <div>
                        <h2 class="card-title">Informations générales</h2>
                        <p class="card-text">Nom, coordonnées de contact, etc</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a href="{{ path('user_password') }}" class="col-12 col-lg-3">
        <div >
            <div class="card user-card">
                <div class="card-body d-flex">
                    <div>
                        <img src="{{ asset('build/profil_info.png') }}" alt="logo password" class="logo">
                    </div>
                    <div>
                        <h2 class="card-title">Changer de mot de passe</h2>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <div class="col-12 col-lg-3">
        <div class="card user-card">
            <div class="card-body d-flex">
                <div>
                    <img src="{{ asset('build/sponsorship-logo.png') }}" alt="logo Parrainage " class="logo">
                </div>
                <div>
                    <h2 class="card-title">Parrainage</h2>
                    <p class="card-text">Votre code parrainage</p>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('user_favorite') }}" class="col-12 col-lg-3">
        <div class="card user-card">
            <div class="card-body d-flex">
                <div>
                    <img src="{{ asset('build/favorite-logo.png') }}" alt="logo informations générales" class="logo">
                </div>
                <div>
                    <h2 class="card-title">Équipement favoris</h2>
                    <p class="card-text">Les équipements mis en favori</p>
                </div>
            </div>
        </div>
    </a>

    <a href="{{ path('user_rent') }}" class="col-12 col-lg-3">
        <div>
            <div class="card user-card">
                <div class="card-body d-flex">
                    <div>
                        <img src="{{ asset('build/rent-logo.png') }}" alt="logo Locations" class="logo">
                    </div>
                    <div>
                        <h2 class="card-title">Locations</h2>
                        <p class="card-text">Détails de vos dernières locations</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a href="{{ path('user_alert') }}" class="col-12 col-lg-3">
    <div>
        <div class="card user-card">
            <div class="card-body d-flex">
                <div>
                    <img src="{{ asset('build/alert-logo.png') }}" alt="logo Alerte disponibilité " class="logo">
                </div>
                <div>
                    <h2 class="card-title">Alerte disponibilité</h2>
                    <p class="card-text">Suivre les alertes équipements</p>
                </div>
            </div>
        </div>
    </div>
    </a>

    <a href="{{ path('user_address') }}" class="col-12 col-lg-3">
        <div>
            <div class="card user-card">
                <div class="card-body d-flex">
                    <div>
                        <img src="{{ asset('build/address-logo.png') }}" alt="logo adresses de livraisons" class="logo">
                    </div>
                    <div>
                        <h2 class="card-title">Adresses</h2>
                        <p class="card-text">Adresses de livraisons enregistrées</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <div class="col-12 col-lg-3">
        <div class="card user-card">
            <div class="card-body d-flex">
                <div>
                    <img src="{{ asset('build/mail-logo.png') }}" alt="logo Préférences mails" class="logo">
                </div>
                <div>
                    <h2 class="card-title">Préférences mails</h2>
                    <p class="card-text">Choixi les emails personnalisés</p>
                </div>
            </div>
        </div>
    </div>

</div>