{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.pseudo }}{% endblock %}

{% block body %}
    <h1>Paramètre du compte</h1>
    <div class="container justify-content-center rent-information">
        <h2>Mes dernières locations</h2>
        {% for rent in rents %}
            <div class="location">
{#                <h3>Location du {{ rent.dateIn|date("Y/m/d") }} au {{ rent.dateOut|date("Y/m/d") }}</h3>#}
                {% for products in rent.getItemProducts %}
                    {% for image in products.product.images %}
                        {% if loop.index0 == 0 %}
                            <a href="{{ path('product_show', {id: products.product.id}) }}">
                                <div class="card-rent d-flex justify-content-between">
                                    <div>
                                        <img src="{{ image.url }}" alt="image du produit" class="img-fluid">
                                    </div>
                                    <div class="flex-fill d-flex flex-column justify-content-center">
                                        <strong>{{ products.product.name }}</strong>
                                        <p class="quantity">x{{ products.quantity }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('user_index') }}"><button class="btn button-decoration"><i class="fas fa-arrow-circle-left"></i>  Revenir à mon Compte</button></a>



{% endblock %}

