{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.pseudo }}{% endblock %}

{% block body %}
    <h1>Paramètre du compte</h1>
    <div class="container justify-content-center rent-information">
        <h2>Mes dernières locations</h2>
        {% for rent in rents %}
            <div class="location">
                <h3>Location du {{ rent.dateIn|date("d/m/Y") }} au {{ rent.dateOut|date("d/m/Y") }}</h3>
                <h4>Date de retour du produit :   {{ rent.dateReturn|date("d/m/Y") }}</h4>
                    {% for itemProduct in rent.item.itemProducts %}
                       <p>{{ itemProduct.product.name }}</p>
                        <p> Quantité {{ itemProduct.quantity }}</p>
                    {% endfor %}

                    {% for itemAccessory in rent.item.itemAccessories %}
                        <p>{{ itemAccessory.accessory.name }}</p>
                        <p> Quantité {{ itemAccessory.quantity }}</p>
                    {% endfor %}
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('user_index') }}"><button class="btn button-decoration"><i class="fas fa-arrow-circle-left"></i>  Revenir à mon Compte</button></a>



{% endblock %}

